<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>YelpCamp</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <script src="https://use.fontawesome.com/66e4841e8f.js"></script>
      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-green bg-green">
    <div class="container">
      <a class="navbar-brand" href="/">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
            <a class="nav-link" href="/campgrounds">Home</a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds/new' ? 'active' : '' %>">
            <a class="nav-link" href="/campgrounds/new">Add Campground</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if(!currentUser){ %>
          <li class="nav-item">
            <a class="nav-link" href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
          </li> <% }
          else { %>
          <li class="nav-item">
            <a class="nav-link loggedIn" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= currentUser.username %> <% if(currentUser && currentUser.isAdmin){ %>(admin)<% } %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
          </li> <% } %>
        </ul>
        <form action="/campgrounds" method="GET" class="form-inline my-2 my-lg-0" id="campground-search">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Campground search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container mt-3">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger"><p><%=error %></p></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success"><p><%= success %></p></div>
     <% } %>
  </div>
  <div class="container">
