<% include ../partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Edit Comment</h2>
    </div>
    <div class="flex-row">
        <form action="/campgrounds/<%= campground_id %>/comments/<%=comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">New text:</label>
                <input class="form-control" type="text" value="<%=comment.text %>" name="comment[text]" placeholder="text" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
    </div>
<% include ../partials/footer %>