<% include ../partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Add New Comment to <em><%= campground.name %></em></h2>
    </div>
    <div class="flex-row">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <label for="name">Your message:</label>
                <input class="form-control" type="text" name="comment[text]" placeholder="Start typing here..." required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
    </div>
<% include ../partials/footer %>