<% include ./partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Forgot Password</h2>
    </div>
    <div class="flex-row">
        <form action="/forgot" method="POST">
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" name="email" autofocus class="form-control" placeholder="john@doe.com" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset password">
            </div>
        </form>
    </div>
    </div>
<% include ./partials/footer %>