<% include ./partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Login</h2>
    </div>
    <div class="flex-row">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">Username</label>
                <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <label for="image">Password</label>
                <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Lets go!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a> - <a href="/forgot">Forgot Password?</a>
    </div>
    </div>
<% include ./partials/footer %>
