<% include ./partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Sign Up</h2>
    </div>
    <div class="flex-row">
        <form action="/register" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="image">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="image">First name</label>
                    <input class="form-control" type="text" name="firstName" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="image">Last name</label>
                    <input class="form-control" type="text" name="lastName" placeholder="Last name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="image">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="image">Picture</label>
                    <input class="form-control" type="text" name="avatar" placeholder="Picture URL" required>
                </div>
            </div>
            <div class="form-group">
                <label for="image">Admin code</label>
                <input class="form-control" type="password" name="adminCode" placeholder="Admin code">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Lets go!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a> - <a href="/forgot">Forgot Password?</a>
    </div>
    </div>
<% include ./partials/footer %>
