<% include ./partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Reset Password</h2>
    </div>
    <div class="flex-row">
        <form action="/reset/<%= token %>" method="POST">
            <div class="form-group">
                <label for="password">New Password</label>
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
		    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control" required/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
    </div>
    </div>
<% include ./partials/footer %>