<% include ../partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Edit <%= campground.name %></h2>
    </div>
    <div class="flex-row">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" value="<%= campground.name %>" required>
            </div>
            <div class="form-group">
                <label for="image">Image Url</label>
                <input class="form-control" type="text" name="image" id="image" value="<%= campground.image %>" required>
            </div>                
            <div class="form-group">
                <label for="cost">Cost</label>
                <input class="form-control" type="number" name="cost" id="cost" value="<%= campground.cost %>" step="0.01" min="0" required>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" id="description" value="<%= campground.description %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update!</button>
            </div>
        </form>
    </div>
    </div>
<% include ../partials/footer %>

