<% include ../partials/header %> 

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">Welcome To YelpCamp!</h1>
    <p class="lead text-center">View our hand-picked campgrounds from all over the world</p>
  </div>
</div>

<div class="main-wrap px-2">
  <div class="container">
    <h1 class="display-4">Latest places</h1>
  </div>

  <div class="card-columns" id="campground-grid">
    <% campgrounds.forEach(function(campground){ %>
    <div class="card">
      <a href="/campgrounds/<%= campground._id %>"><img class="card-img" src="<%= campground.image %>" alt="<%= campground.name %>"></a>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>"><p class="card-title text-center"><%= campground.name %></p></a>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>
