<% include ../partials/header %>
    <div class="main-wrap px-5 py-2">
    <div class="flex-row">
        <h2>Create a New Campground</h2>
    </div>
    <div class="flex-row">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Yosemite" required>
            </div>
            <div class="form-group">
                <label for="image">Image Url</label>
                <input class="form-control" type="text" name="image" id="image" placeholder="https://images.unsplash.com/..." required>
            </div>                
            <div class="form-group">
                <label for="cost">Cost</label>
                <input class="form-control" type="number" name="cost" id="cost" placeholder="9.99" step="0.01" min="0" required>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" id="description" placeholder="California’s Sierra Nevada mountains.">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
    </div>
<% include ../partials/footer %>

