/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgb(51,51,51);
  /*background-color: rgb(240,240,240);*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* Campground show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

.navbar-green a{
  color: rgb(240,240,216);
}

.navbar-green li.active{
  font-weight: 600;  
  background-color: rgb(192,192,120);
  border-radius: 0.4em;
}

li.active a{
  color: rgb(59,49,49);
}

li.active:hover{
  background-color: rgb(216,216,168);
}

.navbar-green li{
  margin:0 0.5em;
}

.navbar-green li:hover{
  background-color: rgb(216,216,168);
  border-radius: 0.4em;
  font-weight: 600;
}

.navbar-green li:hover a{
  color: rgb(59,49,49);
}

.navbar-green li a.loggedIn{
  font-style: italic;
  border-bottom: 1px dashed white;
}
.navbar-green li:hover a.loggedIn{
  background-color:rgb(96,144,0);
}

.navbar-green li a:hover.loggedIn{
  color: rgb(240,240,216);
  font-weight: normal;
}

.bg-green{
  background-color: rgb(96,144,0);
}

.jumbotron{
  background-color: rgb(168,168,192);
  background-image: url(https://farm5.staticflickr.com/4376/36437924985_6a963d0aa7_k_d.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(240,240,216);
  text-shadow: 0 0 100px #050505;
}

.card-body{
  padding:0.2em 0;
  background-color: rgba(18,19,16,1);
}

.card-body .card-title{
  color:white;
}

.card-body a:hover{
  text-decoration: none;
}

.main-wrap{
  background-color: rgb(240,240,216);
}