<% include ../partials/header %>

<div class="main-wrap p-3">
<div class="row">
	<div class="col-md-4">
		<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">			
			<img src="<%= user.avatar %>" alt="<%= user.firstName %> Picture" class="img-thumbnail">
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		</div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tenetur, inventore vero cum similique quo sapiente facilis unde quidem odio beatae incidunt enim, rem nemo. Dolorum maiores vel non nulla?

		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tenetur, inventore vero cum similique quo sapiente facilis unde quidem odio beatae incidunt enim, rem nemo. Dolorum maiores vel non nulla?
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s campgrounds:</h3>
		<div class="list-group">
		  <% campgrounds.forEach(function(campground){ %>
		  <a href="/campgrounds/<%= campground.id %>" class="list-group-item list-group-item-action">
		    <%= campground.name %>
		  </a>
		  <% }); %>
		</div>
	</div>
</div>
</div>

<% include ../partials/footer %>